@font-face {
  font-family: "VT323";
  src: url(VT323-Regular.ttf) format("truetype");
}

div.main {
  width: 900px;
  margin: auto;
  text-align: center;
}

canvas {
  border: 2px dashed white;
  margin-top: 70px;
}

img {
  display: none;
}

body {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, rgb(17, 11, 105), rgb(28, 7, 51));
  height: 98.15vh; /*for some reason it won't fill entire screen unless i do this :/ */
}